@media screen and (max-width: 576px) {
  /* header section media query */
  .header {
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
    height: 70px;
    border-bottom: 2px solid #fea301;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .nav-bar {
    width: 100%;
    height: 45px;
    padding: 5px;
    /* margin: 10px 0px; */
  }
  .nav-logo {
    width: 39.03px;
    height: 46px;
    margin: 0 2.49px;
  }

  .nav-logo h1 {
    display: none;
  }
  .nav-links-container,
  .nav-btn {
    display: none;
  }
  .hamburger-menu {
    display: block;
    padding-right: 10px;
  }
  .marquee{
    display: none;
  }
  /* banner section media query */
  .banner-section {
    height: 725px;
    background-color: white;
  }

  .banner {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
  }
  .banner-info {
    width: 100%;
    max-width: 425px;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .banner-info-description {
    width: 357px;
    height: 54px;
  }

  .banner-img img {
    margin: 0 auto;
    margin-top: 130px;
    width: 336.58px;
    height: 413px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
  }

  /* standard section media query */
  .standard-section {
    height: 1080px;
    background-color: white;
    background-repeat: repeat-y;
    justify-content: flex-start;
    align-items: center;
  }

  .ss-title {
    /* margin-top: 300px; */
    font-size: 26px;
  }
  .ss-cc {
    margin: 0 auto;
    width: 100%;
    margin-top: 0;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  .ss-card-k {
    /* width: 100%; */
    max-width: 357px;
    height: 321.28px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;
    padding: 36px 28px 36px 28px;
  }
  .ss-card-k img {
    width: 88px;
    height: 75px;
  }

  .ss-card-k h3 {
    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 16.6px;
    font-weight: 700;
    line-height: 20.75px;
    letter-spacing: 0%;
    text-align: center;
  }

  .ss-card-e {
    /* width: 100%; */
    max-width: 357px;
    height: 321.28px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;
    padding: 36px 28px 36px 28px;
    /* margin-bottom: 10px; */
  }

  .ss-card-e img {
    width: 88px;
    height: 75px;
  }

  .ss-card-e h3 {
    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 16.6px;
    font-weight: 700;
    line-height: 20.75px;
    letter-spacing: 0%;
    text-align: center;
  }
  .ss-card-m {
    /* width: 100%; */
    max-width: 357px;
    height: 321.28px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;
    padding: 36px 28px 36px 28px;
  }

  .ss-card-m img {
    width: 88px;
    height: 75px;
  }

  .ss-card-m h3 {
    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 16.6px;
    font-weight: 700;
    line-height: 20.75px;
    letter-spacing: 0%;
    text-align: center;
  }

  .ssc-second-title {
    font-size: 15px;
  }

  .ss-carousels {
    display: none;
  }

  /* Our Stories section media query */

  .os {
    max-width: 425px;
    height: 650px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    /* margin: 40px 0px 20px 0px; */
    background: url(../assets/images/bg.png),
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0),
        rgba(254, 163, 1, 0.3) 100%
      );

    /* margin-bottom: 30px; */
  }
  .os-title h1 {
    margin-top: 20px;
    font-size: 26px;
  }
  .os-cc {
    display: flex;
    max-width: 358px;
    height: 382px;
    flex-direction: column;
    justify-content: flex-start;
    gap: none;
  }

  .os-card-left {
    display: none;
  }
  .os-card-right-box {
    width: 173.09px;
    height: 179.59px;
    display: flex;
    flex-direction: column;
  }

  .date-label-os {
    width: 103.91px;
    height: 22.83px;
    font-size: 9.13px;
    margin-top: -40px;
  }

  .os-card-right-info h1 {
    color: rgb(0, 0, 0);
    width: 107.92px;
    height: 20px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 9.13px;
    font-weight: 700;
    line-height: 17.12px;
    letter-spacing: 0%;
    text-align: left;
  }
  /* footer section media query */
  .footer {
    width: 100%;
    height: 650px;
    align-items: center;
  }

  .footer-container {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-section-about {
    width: 100%;
    height: auto;
    /* width: 355px; */
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer-section-about .nav-logo h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 25.7298px;
    /* line-height: 33px; */
    /* overflow: scroll; */
   
   
  }

  .footer-section-about p {
    font-size: 16px;
    width: 355px;
    height: 80px;
    line-height: 25px;
    margin: 0px;
  }

  .footer-section-links {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .footer-section-links ul {
    flex-direction: column;
  }
  .footer-section-links h3 {
    font-size: 18px;
    margin: 0px;
  }
  .footer-section-links ul li {
    margin-top: 10px;
  }

  .footer-section-social {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .footer-section-social ul li{
    flex-direction: row;
    margin: 0;
    gap: 0px;
  }
  .footer-section-social h3 {
    font-size: 18px;
    margin: 0px;
  }
}
