/* Font -- Quicksand  */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles  */
* {
  margin: 0;
  padding: 0;
}
.color-white {
  color: #f7f7f7;
}

.color-skyblue {
  color: #01acfd;
}

.color-black {
  color: #111111;
}

.color-orange {
  color: #fea301;
}

.color-seagreen {
  color: rgb(5, 212, 223);
}

.color-purple {
  color: rgb(93, 88, 239);
}

body {
  max-width: 1440px;
}

/* Header Styles  */
.header {
  width: 100%;
  max-width: 1440px;
  height: 102px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px 20px 0px;
  background-color: #f7f7f7;
}

/* Nav bar styles */
.nav-bar {
  width: 100%;
  max-width: 1160px;
  height: 62px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px;
  /* overflow: hidden; */
}

.nav-logo {
  width: 202px;
  height: 62px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 0px 186px 0px 0px;
}
.nav-links {
  width: 387px;
  height: 30px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 0 0;
}
.nav-links li {
  list-style-type: none;
}
.nav-links li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.nav-btn-yellow {
  width: 197px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 10px;
  margin: 0px 0px 0px 186px;
  border: none;
  border-radius: 12px;
  background: rgb(254, 163, 1);
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.hamburger-menu {
  display: none;
}

/* Banner Section Styles */
.banner-section {
  background-color: #f7f7f7;
}
.banner {
  margin: 0 auto;
  width: 100%;
  max-width: 1160px;
  height: 575px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #f7f7f7;
  /* overflow: hidden; */
}
.banner-info {
  margin: 0 auto;
  width: 640px;
  height: 331px;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
}

.banner-btn {
  width: 197px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(255, 255, 255);
  letter-spacing: 0%;
  text-align: left;
  border-radius: 12px;
  background: rgb(17, 17, 17);
}
.banner-img {
  margin: 0 auto;
}
.banner-img img {
  width: 460px;
  height: 575px;
}

/* Standard Section Styles */
.standard-section {
  width: 100%;
  max-width: 1440px;
  /* height: 879px; */
  margin: 0 auto;
  gap: 80px;
  padding: 60px 0px 60px 0px;
  background-color: #f7f7f7;
  background-image: url(../assets/images/bg.png);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.ss-div {
  width: 460.61px;
  height: 57.5px;
  /* margin: 80px 0px; */
}
.ss-title {
  color: rgb(0, 0, 0);
  font-family: Quicksand;
  font-size: 46px;
  font-weight: 700;
  line-height: 57.5px;
  letter-spacing: 0%;
  text-align: center;
}

.ss-cc {
  margin: 0 auto;
  width: 100%;
  max-width: 1160px;
  height: 481.5px;
  display: flex;
  justify-content: space-around;
}

.ss-card-k {
  width: 367.8px;
  height: 476.78px;
  box-sizing: border-box;
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.ss-card-e {
  width: 367.8px;
  height: 476.78px;
  box-sizing: border-box;
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.ss-card-m {
  width: 367.8px;
  height: 476.78px;
  box-sizing: border-box;
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.ss-card-k img {
  width: 136.76px;
  height: 136.76px;
}

.ss-card-k h1 {
  position: absolute;
  width: 211.06px;
  height: 31.13px;
  left: 78.57px;
  top: 221.65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(32, 32, 32);

  font-size: 24.52px;
  font-weight: 700;
  line-height: 30.65px;
  letter-spacing: 0%;
  text-align: center;
}

.ss-card-k p {
  width: 286.26px;
  height: 74.51px;
  left: 40.88px;
  top: 286.26px;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: rgb(128, 128, 128);

  font-size: 15.09px;
  font-weight: 500;
  line-height: 28.3px;
  letter-spacing: 0%;
  text-align: center;
}

/* ------------------------------ */

.ss-card-e img {
  width: 136.76px;
  height: 136.76px;
}

.ss-card-e h1 {
  position: absolute;
  width: 211.06px;
  height: 31.13px;
  left: 78.57px;
  top: 221.65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(32, 32, 32);

  font-size: 24.52px;
  font-weight: 700;
  line-height: 30.65px;
  letter-spacing: 0%;
  text-align: center;
}

.ss-card-e p {
  width: 286.26px;
  height: 74.51px;
  left: 40.88px;
  top: 286.26px;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: rgb(128, 128, 128);

  font-size: 15.09px;
  font-weight: 500;
  line-height: 28.3px;
  letter-spacing: 0%;
  text-align: center;
}
/* ------------------------------ */
.ss-card-m img {
  width: 136.76px;
  height: 136.76px;
}

.ss-card-m h1 {
  position: absolute;
  width: 211.06px;
  height: 31.13px;
  left: 78.57px;
  top: 221.65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(32, 32, 32);

  font-size: 24.52px;
  font-weight: 700;
  line-height: 30.65px;
  letter-spacing: 0%;
  text-align: center;
}

.ss-card-m p {
  width: 286.26px;
  height: 74.51px;
  left: 40.88px;
  top: 286.26px;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: rgb(128, 128, 128);

  font-size: 15.09px;
  font-weight: 500;
  line-height: 28.3px;
  letter-spacing: 0%;
  text-align: center;
}

/* ---------------------------- */

.os {
  width: 1440px;
  height: 1018.02px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 60px 0px 60px 0px;
  background: url(../assets/images/bg.png),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(247, 247, 247, 0.7) 100%);
}

.os-title h1 {
  width: 460px;
  height: 57.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-bottom: 80px 0px;
  color: rgb(0, 0, 0);

  font-size: 46px;
  font-weight: 700;
  line-height: 57.5px;
  letter-spacing: 0%;
  text-align: center;
}

.os-cc {
  position: static;
  width: 1160px;
  height: 630.52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.os-card-left {
  width: 540.27px;
  height: 630.52px;
  border-radius: 16px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.os-card-left img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 16px 16px 0px 0px;
}

.os-card-left-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  /* gap: 10px; */
}

.date-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 174.51px;
  height: 47.93px;
  background: rgb(60, 216, 232);
  color: #ffffff;
  font-size: 15.34px;
  padding: 0;
  margin-bottom: 10px;
  border-radius: 47.93px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  margin-top: -75px;
}

.os-card-left-info h1 {
  color: rgb(0, 0, 0);
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 700;
  line-height: 38.35px;
  letter-spacing: 0%;
  text-align: left;
}

.os-card-left-info p {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  line-height: 29px;
  color: #666666;
  line-height: 1.5;
}

.os-card-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.os-card-right-box {
  width: 290.69px;
  height: 301.61px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.os-card-right-box img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px 16px 0px 0px;
  background: rgb(255, 255, 255);
}

.os-card-right-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.os-card-right-info h1 {
  color: rgb(0, 0, 0);
  width: 198.04px;
  height: 47.93px;
  left: 0;
  top: 4.79px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15.34px;
  font-weight: 700;
  line-height: 28.76px;
  letter-spacing: 0%;
  text-align: left;
}

.date-label-os {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 174.51px;
  height: 38.93px;
  color: #ffffff;
  font-size: 15.34px;
  padding: 0;
  margin-bottom: 10px;
  border-radius: 47.93px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  margin-top: -60px;
}

.green-color {
  background: rgb(149, 178, 38);
}

.purple-color {
  background: rgb(93, 88, 240);
}

/* footer section styles */

.footer {
  width: 1439px;
  height: 519px;
  background: rgb(1, 172, 253);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-container {
  width: 1070.91px;
  height: 222px;
  display: flex;
  justify-content: space-between;
}

.footer-section-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 399px;
  gap: 42px;
  height: 222px;
  /* padding: 7px 7px 7px 7px;  */
}

.footer-section-about .nav-logo h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 42.1429px;
  line-height: 40px;
  color: #ffffff;
}

.footer-section-about p {
  
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  line-height: 35px;
  padding-left: 5px;

}

.footer-section-links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  width: 156px;
  height: 222px;
}

.footer-section-links h3{
  font-size: 24px;
  font-weight: 700;

  width: 177px;
  height: 30px;

  color: #ffffff;
  text-align: left;
}
.footer-section-links  ul {
  /* justify-items: flex-end; */
  /* text-align: left; */
  list-style: none;
  padding: 0;
  margin: 0;

}
.footer-section-links ul li {
  /* gap: 10px; */
  margin-top: 15px;
}

.footer-section-links ul a {
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.footer-section-social h3{
  font-size: 24px;
  font-weight: 700;

  width: 177px;
  height: 30px;

  color: #ffffff;
  text-align: left;
}

.footer-section-social ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
 